.bg-container {
  min-height: 100vh;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
  color: #f8fafc;
}
.images-container {
  display: flex;
  flex-direction: row;
}
.image {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 576px) {
  .heading {
    font-size: 23px;
  }
  .image {
    height: 50px;
    width: 50px;
  }
}
